In [1]:
import pandas as pd

In [3]:
dt = pd.read_csv('C:/Users/MAHIMA TUMMALA/WebstormProjects/untitled/scatter_plot/data/adult.csv')

In [4]:
dt.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income,median_income,State,county_fips,county
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,130762,114158,Alabama,1001,Autauga County
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,45359,114158,Alabama,1003,Baldwin County
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,177075,114158,Alabama,1005,Barbour County
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,135579,114158,Alabama,1007,Bibb County
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,106911,114158,Alabama,1009,Blount County

In [12]:
avg_cols  = dt.groupby(['race', 'sex'])['income'].mean()

In [13]:
avg_cols

race                sex
Amer-Indian-Eskimo  Female    118429.878049
                    Male      122274.166667
Asian-Pac-Islander  Female    113914.142857
                    Male      116307.017699
Black               Female    112056.488479
                    Male      111363.303327
Other               Female    119146.178571
                    Male      122387.627907
White               Female    113088.687256
                    Male      113404.556355
Name: income, dtype: float64

In [14]:
avg_cols.to_json('C:/Users/MAHIMA TUMMALA/WebstormProjects/untitled/scatter_plot/data/race_sex1.json')